.contact-img img{
    width: 100%;
    padding: 0px 20px;
}
.contact-img {
    max-width: 400px;
}
.contact-container{
    border: 1px solid #64ffda;
    justify-content: center;
    padding: 10px ;
    border-radius: 10px;
    align-items: center;
    margin: 0 auto;
    max-width: 850px;
    display: flex;
    flex-wrap: wrap;
    
}
.contact-container input , .contact-container textarea{
width: 100%;
}
.contact-container textarea{
    height: 100%;
}
#contactUs{
    margin: 50px auto;
}
.form-container{
   width: 400px;
}
form{
    display: flex;
    margin: 0 auto;
    padding: 10px;
    max-width: 100%;
    flex-direction: column;
}
input,textarea{
border: 1px solid teal;
border-radius: 5px;
    margin: 10px auto;
    padding: 10px;
    color: #000;
}
